* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Product Sans", sans-serif;
}
button{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
section {
  width: 100%;
  height: 300vh;
  background-color: #e3edf9;
}
a {
  text-decoration: none;
}

#navbar {
  background-color: #fff;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-right: 8rem;
  justify-content: space-between;
  align-items: center;
  ul {
    margin-left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    a {
      color: black;
      font-family: "Product Sans", sans-serif;
    }
  }
}
.icons {
  display: flex;
  gap: 1rem;
  img {
    width: 3rem;
    height: 3rem;
  }
}

/* DASHBOARD EDIT  */

#dashboard {
  margin: 0 10%;
  margin-top: 5%;
  margin-bottom: 2%;
  color: #193288;
  font-weight: bold;
}
.dashboard-edit {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 15rem;
  margin: 0 10%;
  background-color: #193288;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.dashboard-user {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  img {
    padding: 2rem;
    width: 10rem;
    height: 10rem;
  }
}
.dashboard-text {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  color: #fff;
}
.edit-btn {
  display: flex;
  align-items: center;
  img {
    width: 18rem;
    height: 100%;
  }
  button {
    background-color: #ffc20e;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    width: 12rem;
    height: 4rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}

/* QUICK ACTIONS */

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 10rem;
}
.quick-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 1.5rem 2rem;
  /* width: 15%; */
  height: 3rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#actions {
  margin: 0 10%;
  margin-top: 5%;
  margin-bottom: 2%;
  color: black;
}

/* TABLE  */
#tables {
  width: 100%;
  background-color: #fff;
}
.book-open {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  margin-left: 3rem;
  color: black;
  img {
    height: 3rem;
  }
}
.cards {
  display: flex;
  margin: 0 4rem;
  gap: 2rem;
  margin-bottom: 5rem;
}
.cart {
  border: 0px solid;
  width: 30rem;
  height: 14rem;
  gap: 2rem;
  border-radius: 25px;
  background-color: #193288;
  display: flex !important;
  align-items: center;
  padding: 1.5rem;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 8rem;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  h1 {
    font-size: 5rem;
    font-weight: lighter;
    color: #193288;
  }
}
.card-text {
  h4 {
    color: #fff;
  }
  button {
    border-radius: 30px;
    background-color: #ffc20e;
    width: 11rem;
    padding: 5px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
}
.text-20 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* TABLE  */

#table {
  padding: 4rem;
}
.table thead tr th {
  background-color: #e3edf9;
}
.tbody button {
  width: 12rem;
  height: 2.5rem;
  color: #fff;
  background-color: #253d90;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.color th {
  background-color: #e3edf9;
}
.color td {
  background-color: #e3edf9;
}
.leave {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h4 {
    font-weight: bold;
  }
}
.filter {
  display: flex;
  gap: 4rem;
  align-items: center;
  img {
    width: 2rem;
    height: 2rem;
  }
}
.export-btn {
  width: 12rem;
  height: 3.5rem;
  color: #fff;
  background-color: #3f861e;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
